
*.json
*.h5
*.hdf5
.DS_Store

data/*/
implementations/*/data
implementations/*/images
implementations/*/saved_models

__pycache__
venv
.idea

applications/gan_malware/weights
applications/gan_malware/local